{
    "presets": [
        "es2015",
        "react"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-runtime"
            ],
            "presets": [
                "react-hmre"
            ]
        }
    }
}